.paper {
	margin-top: 2em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.avatar {
	margin: 1em;
}

.form {
	margin-top: 1em;
	width: 100%;
}

.alert {
	width: 100%;
	text-align: center;
}

.MuiButtonBase-root {
	margin-top: 10px !important;
}
